.llemonstack/
.env
# Ignore all .env files except .env.example
.env.*
!.env.example
volumes/
shared/
.repos/*
!.repos/README.md
node_modules/
.DS_Store
tmp/
dist/

# Ignore all files in import folder except .keep and README.md
import/*
!import/*/
import/*/*
!import/*/**/
import/*/*/*
!import/README.md
!import/**/.keep
